<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/detail-projet"></ion-back-button>
    </ion-buttons>
    <ion-title>ONA BTP - Mise à Jour Projet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="majForm" (ngSubmit)="validerMaj()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">État du projet</ion-label>
        <ion-select formControlName="etat">
          <ion-select-option *ngFor="let etat of etats" [value]="etat.value">{{ etat.label }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Commentaire</ion-label>
        <ion-textarea formControlName="commentaire" rows="5" placeholder="Ajouter un commentaire..."></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" color="primary" style="margin-top: 24px;">
      Valider la mise à jour
    </ion-button>
  </form>
</ion-content> 