<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="splash-bg">
  <div class="splash-container">
    <img src="assets/images/logo.webp" alt="Logo ONA BTP" class="splash-logo" />
    <h1 class="splash-title">Bienvenue sur ONA BTP</h1>
    <p class="splash-subtitle">Votre solution de gestion de chantier</p>
    
    <!-- Animation de chargement -->
    <div class="loading-animation">
      <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</ion-content>
